

.title_button {
  position: absolute;
  top: 50%; 
  left: 50%;
}




@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: #0e864c;
    overflow: hidden;
}

.background span {
    width: 20vmin;
    height: 20vmin;
    border-radius: 20vmin;
    backface-visibility: hidden;
    position: absolute;
    animation: move;
    animation-duration: 45;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.background span:nth-child(0) {
    color: #2b68da;
    top: 13%;
    left: 58%;
    animation-duration: 40s;
    animation-delay: -22s;
    transform-origin: -14vw -10vh;
    box-shadow: 40vmin 0 5.812514384893923vmin currentColor;
}
.background span:nth-child(1) {
    color: #ffade5;
    top: 79%;
    left: 29%;
    animation-duration: 43s;
    animation-delay: -13s;
    transform-origin: -1vw 4vh;
    box-shadow: 40vmin 0 5.457757540434154vmin currentColor;
}
.background span:nth-child(2) {
    color: #000000;
    top: 40%;
    left: 34%;
    animation-duration: 45s;
    animation-delay: -41s;
    transform-origin: 11vw 24vh;
    box-shadow: 40vmin 0 5.872556279324828vmin currentColor;
}
.background span:nth-child(3) {
    color: #000000;
    top: 85%;
    left: 47%;
    animation-duration: 16s;
    animation-delay: -27s;
    transform-origin: -4vw 18vh;
    box-shadow: 40vmin 0 5.276497954690834vmin currentColor;
}
.background span:nth-child(4) {
    color: #2b68da;
    top: 66%;
    left: 67%;
    animation-duration: 41s;
    animation-delay: -17s;
    transform-origin: -16vw -19vh;
    box-shadow: -40vmin 0 5.500938381098259vmin currentColor;
}
.background span:nth-child(5) {
    color: #000000;
    top: 17%;
    left: 65%;
    animation-duration: 6s;
    animation-delay: -49s;
    transform-origin: 25vw 20vh;
    box-shadow: -40vmin 0 5.597945751306738vmin currentColor;
}
.background span:nth-child(6) {
    color: #000000;
    top: 23%;
    left: 62%;
    animation-duration: 20s;
    animation-delay: -28s;
    transform-origin: -1vw 22vh;
    box-shadow: -40vmin 0 5.12321359374368vmin currentColor;
}
.background span:nth-child(7) {
    color: #c3ada7;
    top: 4%;
    left: 48%;
    animation-duration: 30s;
    animation-delay: -45s;
    transform-origin: 15vw 5vh;
    box-shadow: -40vmin 0 5.674188490664065vmin currentColor;
}
.background span:nth-child(8) {
    color: #ffade5;
    top: 31%;
    left: 37%;
    animation-duration: 30s;
    animation-delay: -5s;
    transform-origin: 12vw 20vh;
    box-shadow: 40vmin 0 5.582656238546508vmin currentColor;
}
.background span:nth-child(9) {
    color: #ffade5;
    top: 33%;
    left: 94%;
    animation-duration: 38s;
    animation-delay: -9s;
    transform-origin: 11vw -9vh;
    box-shadow: -40vmin 0 5.7518744640075vmin currentColor;
}
.background span:nth-child(10) {
    color: #c3ada7;
    top: 25%;
    left: 3%;
    animation-duration: 53s;
    animation-delay: -11s;
    transform-origin: 23vw 12vh;
    box-shadow: 40vmin 0 5.121758500216797vmin currentColor;
}
.background span:nth-child(11) {
    color: #ffade5;
    top: 95%;
    left: 70%;
    animation-duration: 43s;
    animation-delay: -36s;
    transform-origin: -22vw 11vh;
    box-shadow: -40vmin 0 5.039884530164219vmin currentColor;
}
.background span:nth-child(12) {
    color: #c3ada7;
    top: 61%;
    left: 95%;
    animation-duration: 19s;
    animation-delay: -16s;
    transform-origin: -13vw 21vh;
    box-shadow: 40vmin 0 5.645473891008919vmin currentColor;
}
.background span:nth-child(13) {
    color: #2b68da;
    top: 14%;
    left: 2%;
    animation-duration: 48s;
    animation-delay: -3s;
    transform-origin: -4vw 17vh;
    box-shadow: -40vmin 0 5.391033274828105vmin currentColor;
}
.background span:nth-child(14) {
    color: #c3ada7;
    top: 92%;
    left: 43%;
    animation-duration: 55s;
    animation-delay: -5s;
    transform-origin: 23vw 3vh;
    box-shadow: 40vmin 0 5.703134391793689vmin currentColor;
}
.background span:nth-child(15) {
    color: #ffade5;
    top: 81%;
    left: 98%;
    animation-duration: 52s;
    animation-delay: -16s;
    transform-origin: -16vw 12vh;
    box-shadow: 40vmin 0 5.3164654708587475vmin currentColor;
}
.background span:nth-child(16) {
    color: #ffade5;
    top: 17%;
    left: 81%;
    animation-duration: 17s;
    animation-delay: -1s;
    transform-origin: 23vw 4vh;
    box-shadow: -40vmin 0 5.375688077722975vmin currentColor;
}
.background span:nth-child(17) {
    color: #000000;
    top: 33%;
    left: 20%;
    animation-duration: 49s;
    animation-delay: -39s;
    transform-origin: -12vw -2vh;
    box-shadow: 40vmin 0 5.556464881875362vmin currentColor;
}
.background span:nth-child(18) {
    color: #000000;
    top: 1%;
    left: 61%;
    animation-duration: 39s;
    animation-delay: -43s;
    transform-origin: 8vw -24vh;
    box-shadow: -40vmin 0 5.991196196908641vmin currentColor;
}
.background span:nth-child(19) {
    color: #000000;
    top: 67%;
    left: 80%;
    animation-duration: 43s;
    animation-delay: -29s;
    transform-origin: 23vw 14vh;
    box-shadow: 40vmin 0 5.249857670913687vmin currentColor;
}


.background2 {
  background-image: url(https://cdn.glitch.me/11cf1175-aafb-4620-b52d-8313110720e1%2Fimage0.jpg?v=1633929896332);
  background-repeat:repeat;
  background-size: 100px;
  width: 1400px;
  height: 600px;

}

